.btn {
  color: whitesmoke;
  border-radius: 3px;
  cursor: pointer;
  font-size: 25px;
  margin-top: 1rem;
}

.red {
  background-color: red;
}

.green {
  background-color: greenyellow;
  color: black;
}

.ghost {
  border: none;
}

.bordered {
  border: 2px solid black;
}
